# to run this project, you need to have a file named .env in the root directory of this project
# it must contain:

PROD_PORT=<your port>
DEV_PORT=<your port>

DB_HOST=<database host>
DB_USER=<database user>
DB_PASSWORD=<database password>
DB_NAME=<database name>

DB_HOST_dev=127.0.0.1
DB_USER_dev=root
DB_PASSWORD_dev=""
DB_NAME_dev=pepperbackend
