*{
    font-family: Arial;
}

body {
  padding: 0 1%;
}

h1{
    font-size: 50px;
    font-weight: bolder;
    color: #5a9965;
    margin: 7% 0 5% 5%;
   
}

.bubble {
    position: relative;
    display: inline-block;
    word-break: break-all;
    background: #5a9965;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 30px;
    box-shadow: 5px 5px 7px 1px #A3A3A3;
    text-align: center;
    width: auto;
    max-width: 30%;
    height: auto;
    min-height: 30px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10%;
    margin-bottom: 5%;
    animation: 1s ease-out 1 slideInFromLeft;
    animation-fill-mode:forwards;
    opacity: 0;
    transition: 1s;   /*transition time ease delay*/
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #4c8355 transparent;
    border-width: 15px 15px 0 0;
    bottom: -15px;
    left: 15%;
}

.bubble2 {
  position: relative;
  display: inline-block;
  word-break: break-all;
  background: #5a9965;
  color: #FFFFFF;
  font-size: 25px;
  line-height: 30px;
  box-shadow: 5px 5px 7px 1px #A3A3A3;
  text-align: center;
  width: auto;
  max-width: 30%;
  height: auto;
  min-height: 30px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 1%;
  margin-bottom: 5%;
  animation: 1s ease-out 1 slideInFromRight;
  animation-fill-mode:forwards;
  opacity: 0;
  transition: 1s;   /*transition time ease delay*/
}

.bubble2:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #4c8355 transparent transparent;
  border-width: 0 15px 15px 0;
  bottom: -15px;
  right: 10%;
  margin-left: -10px;
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}