<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotelmodus</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="window">
            <h2>Bitte halten Sie ihren QR-Code aus der Buchungsbestätigung in die Nähe meines Displays.<h2></h2>
            <div class="controls">
                        <button id="manuelleeingabe">Manuelle Eingabe</button>
                </div>
            </div>
        </div>
        <button id="zurueck" onclick="window.location.href = 'index.html'">zurück</button>
    </body>
</html>