<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotelmodus</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="window">
            <div class="controls">

                <table>
                    <tr>
                      <td><button id="erste_hilfe" onclick="window.location.href = 'notruf.html'">Notfall</button> 
                        <button id="karte_verloren" onclick="window.location.href = 'ruhestoerung.html'">Zimmerkarte verloren</button>   
                        <button id="check_in" onclick="window.location.href = 'checkin.html'">Check - In</button></td>
                     </tr> 
                       <td><button id="wo_zimmer">Wo ist mein Zimmer?</button>
                        <button id="ruhe_stoerung" onclick="window.location.href = 'ruhestoerung.html'">Ruhestörung melden</button></td>
                     </tr>
                  </table>
                </div>
            </div>
        </div>
    </body>
</html>