<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotelmodus</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="window">
            <div class="controls">

                <table>
                    <tr>
                        <button id="karte_verloren"> 📞 Notruf 112</button>  
                    </tr>
                    <tr>
                        <button id="check_in">📞 Polizei 110</button>
                    </tr>
                    <tr>
                        <button id="wo_zimmer">📞 Hotel-Rezeption</button>
                     </tr>
                  </table>
                </div>
            </div>
        </div>
        <button id="zurueck" onclick="window.location.href = 'index.html'">zurück</button>
        <button id="erstehilfe" onclick="window.location.href = 'https://www.drk.de/hilfe-in-deutschland/erste-hilfe/'">Erste Hilfe</button>
    </body>
</html>