<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotelmodus</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="window">
            <div class="controls">
                <table>
                    <tr>
                        <button id="wo_zimmer">📞 Hotel-Rezeption</button>
                     </tr>
                  </table>
                </div>
            </div>
        </div>
        <button id="zurueck" onclick="window.location.href = 'index.html'">zurück</button>
    </body>
</html>